version: '3'
services:

  #PHP Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: digitalocean.com/php
    container_name: app
    restart: unless-stopped
    tty: true
    volumes:
      - ./:/var/www
      - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    networks:
      - app-network

  #Nginx Service
  webserver:
    image: nginx:alpine
    container_name: webserver
    restart: unless-stopped
    tty: true
    volumes:
      - ./:/var/www
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    ports:
      - "80:80"
    networks:
      - app-network

  #Mongo Service
  db:
    image: mongo
    restart: unless-stopped
    container_name: db
    tty: true
    ports:
      - "27017-27019:27017-27019"
    volumes:
    - ./mongo/init.js:/docker-entrypoint-initdb.d/init.js:ro
    - ./mongo/data:/data/db
    environment:
      # TODO: get these from env
      MONGO_INITDB_ROOT_USERNAME: laravel
      MONGO_INITDB_DATABASE: laravel
      MONGO_INITDB_ROOT_PASSWORD: testpass
    networks:
      - app-network

  redis:
    image: "redis:alpine"
    container_name: redis
    networks:
      - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge
